# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

menuconfig ZMK_MOUSE_PS2
	bool "Enable PS/2 mouse support"

if ZMK_MOUSE_PS2

config ZMK_MOUSE_PS2_INVERT_X
    bool "Invert the mouse movement x axis."
	default n

config ZMK_MOUSE_PS2_INVERT_Y
    bool "Invert the mouse movement y axis."
	default n

config ZMK_MOUSE_PS2_SCROLL
    bool "Enable scroll wheel on mouse devices supporting the Intellimouse extension."
	default n

config ZMK_MOUSE_PS2_TP_TAP_TO_SELECT
    bool "Enables the ability to left-click by tapping the trackpoint."
	default n

endif # ZMK_MOUSE_PS2s